<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    failOnRisky="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="SwiftForms Test Suite">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>

</phpunit>